@if (show()) {
<section>
  <h1>Primitive values</h1>
  <h2>Counter: {{ counter() }}</h2>
  <h3>x10: {{ derivedCounter() }}</h3>

  <button type="button" (click)="increment()">Increment</button>

  <button type="button" (click)="multiplier = 10">Set multiplier to 10</button>
</section>

<section>
  <h1>Object & Arrays</h1>

  <pre>{{ list() | json }}</pre>
  <pre>{{ object() | json }}</pre>

  <h3>Object title: {{ title() }}</h3>

  <button type="button" (click)="updateObject()">Update</button>
</section>
} @else if (isGreaterThanLimit()) {
<h3>Not enough!</h3>
} @else {
<h1>Nothing to show you!</h1>

<button type="button" (click)="show.set(true)">Show though!</button>
}
